.cart-content {
    padding-inline: 10%;
    padding-block: 2%;
    display: flex;
    flex-direction: row;
    gap: 40px;

    .price {
        float: right;
    }

    .cart-items-container {
        width: 75%;
    }

    .card {
        width: 20rem;
        float: right;
        padding: 20px;
    }
}

.cart-item {
    border-bottom: 1px solid black;
    display: flex;
    padding-block: 20px;
    gap: 40px;

    i {
        font-size: 20px;
    }

    .checkbox {
        align-content: center;
    }

    img {
        object-fit: contain;
        width: 200px;
        height: 200px;
        flex-shrink: 0;
    }

    .content {
        display: block;
        width: 100%;
        position: relative;

        .quantity {
            bottom: 0;
            position: absolute;

            .dropdown-menu {
                overflow-y: scroll;
                max-height: 200px;
            }
        }
    }
}