@use './adminpanel.scss' as adminpanel; 

@import './bodyStyles';




$content-height: adminpanel.$height-after-navbar;

.support-tickets-list{
    padding: 1% 0%;
    
    width: 25vw;
    float:left;
    background-color: aliceblue;

    height: $content-height;

    overflow-y: visible;
 

    .ticket-buttons-container{
     
        display: flex;
        flex-direction: column;
        gap: 28px;
        align-items: center;
        justify-content: flex-start;
        



        .ticket-button{
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: center;

            width: 80%;
            min-height: 44px;
            background-color: rgb(0, 202, 135);
            border-radius: 8px;

        
            padding-inline: 4%;
            font-size: 20px;
            
            .ticket-name{
                color: white;
                margin-top: auto;
                margin-bottom: auto;
                margin-right: auto;
            }


            .close-ticket{
                font-size: 20px;
                margin-left: auto;
            }
        }
        .closed{
            background-color:rgb(255, 90, 90);
        }

        .active{

            border: 2px solid black;
        }
    }

   
}

.chat-modal-container{
    
    height:$content-height;
    float:inline-end;
    width: 75vw;
    max-width: 75vw;
    background-color: antiquewhite;
    z-index: 2;
    
    .chat-modal{
        
        height: $content-height;
        display: none;
        position: relative;
        padding: 1% 2%;
        
        .messages-list-wrapper{
            overflow: auto;
            height: 90%;
            display:flex;
            flex-direction: column-reverse;
            .messages-list{
                
                height: 80%;
                .rce-mlist{
                    display:flex;
                    flex-direction: column-reverse;
                }

                .rce-mbox{
                    max-width: 75%;
                }

                
            }
        }
        
        
    
        .send-message-container{
            width: 90%;
            position: absolute;
            bottom: 10px;
            gap: 20px;
            justify-content: center;
            padding-inline: 5%;
    
    
            .send-message-form{
                display: flex;
                align-items: center;
                min-width: 100%;
                gap: 10px;
                .message-input-field{
                    padding-inline: 10px;
                    border-radius: 8px;
                }
        
                .message-input-button{
                    height: fit-content;
                }
    
    
            }
        }
    }


}


